<div class="container-fluid">
  <mat-accordion class="example-headers-align list-container">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Service
        </mat-panel-title>
        <mat-panel-description>
          Design Service Page
          <mat-icon>pages</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a
          *ngIf="user != 'User'"
          mat-button
          style="color: #0075A1;"
          [routerLink] = "['/admin/adminseditor', service]"
          routerLinkActive="active"
          ><mat-icon>edits</mat-icon>Edit</a
        >
        <mat-divider> </mat-divider>
        <div [innerHTML]="htmlcodeservice"></div>
      </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Product</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Product
        </mat-panel-title>
        <mat-panel-description>
          Design Product Page
          <mat-icon>label</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a
        *ngIf="user != 'User'"
          mat-button
          style="color: #0075A1;"
          [routerLink] = "['/admin/adminseditor', product]"
          routerLinkActive="active"
          ><mat-icon>edits</mat-icon>Edit</a
        >
        <mat-divider> </mat-divider>
        <div [innerHTML]="htmlcodeproduct"></div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Service</button>
        <button mat-button color="primary" (click)="nextStep()">About</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          About
        </mat-panel-title>
        <mat-panel-description>
          Design About Page
          <mat-icon>question_answer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a
        *ngIf="user != 'User'"
          mat-button
          style="color: #0075A1;"
          [routerLink] = "['/admin/adminseditor', about]"
          routerLinkActive="active"
          ><mat-icon>edits</mat-icon>Edit</a
        >
        <mat-divider> </mat-divider>
        <div [innerHTML]="htmlcodeabout"></div>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Product</button>
        <button mat-button color="primary" (click)="nextStep()">Contact</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 3"
      (opened)="setStep(3)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact
        </mat-panel-title>
        <mat-panel-description>
          Design Contact Page
          <mat-icon>perm_contact_calendar</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <a
        *ngIf="user != 'User'"
          mat-button
          style="color: #0075A1;"
          [routerLink] = "['/admin/adminseditor', contact]"
          routerLinkActive="active"
          ><mat-icon>edits</mat-icon>Edit</a
        >
        <mat-divider> </mat-divider>
        <div [innerHTML]="htmlcodecontact"></div>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">About</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
