<mat-toolbar>
  <div>
    <a href="#" target="_blank" class="positronx navbar-brand">
      <img
        src="../../../assets/img/logo-small.png"
        width="auto"
        height="50"
        alt=""
      />
    </a>
  </div>
  <span class="nav-tool-items positronx">
    <a
      mat-button
      style="color: gray;"
      routerLink="/"
      routerLinkActive="active"
      ><mat-icon aria-hidden="false" aria-label="Example home icon" class="icon"
        >close</mat-icon
      ></a
    >
  </span>
</mat-toolbar>
<div class="container">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="color: #343350"><h1>Sign Up</h1></mat-card-title>
      <mat-card-subtitle style="color: #343350"
        >Already have an account? <a href="/login">Log In</a>
      </mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input  matInput  placeholder="Username" formControlName="username" >
       </mat-form-field>
       <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="password"
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="repassword"
          placeholder="Re-Password"
          [type]="rehide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="rehide = !rehide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="rehide"
        >
          <mat-icon>{{ rehide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
       <mat-form-field appearance="outline">
          <mat-label>Tel.</mat-label>
          <input  matInput  placeholder="Tel" formControlName="tel">
       </mat-form-field>
       <mat-form-field appearance="outline">
          <mat-label>LINE ID</mat-label>
          <input  matInput  placeholder="LINE" formControlName="line">
       </mat-form-field>
       <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input  matInput  placeholder="Email" formControlName="email">
       </mat-form-field>
       <mat-form-field appearance="outline">
          <mat-label>ผู้แนะนำ</mat-label>
          <input  matInput  placeholder="แนะนำ" formControlName="recomment">
       </mat-form-field>
      </mat-card-content>
      <button type="button" class="btn btn-outline-primary">CREATE ACCOUNT</button>
    </form>
  </mat-card>
</div>
