<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    attr.role="navigation"
    [opened]="screenWidth> 640"
    mode="side"
  >
    <mat-toolbar color="primary"><img src="../../../assets/img/logo-small.png" alt="logo" style="height: 50px; width: 50px;"></mat-toolbar>
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar class="admin-header">
      <button mat-icon-button (click)="drawer.toggle()" style="color: white;"><mat-icon>menu</mat-icon></button>
      {{user}} Page
      <span class="toolbar-spacer"></span>
      <button mat-button (click)="gotohome()">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="icon"
          >dashboard</mat-icon
        >
      </button>
      <button mat-button [matMenuTriggerFor]="aboveMenu">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="icon"
          >supervisor_account</mat-icon
        >
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button (click) = "signOut()" mat-menu-item>Log out</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
