<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav-content>
    <mat-toolbar class="header">
      <div><a href="#" target="_blank" class="positronx">LOGO</a></div>
      <span class="nav-tool-items positronx">
        <a mat-button routerLink="/login" routerLinkActive="active">Log in</a>
        <a
          mat-button
          mat-raised-button
          routerLink="/register"
          routerLinkActive="active"
          >Register</a
        >
      </span>
    </mat-toolbar>
    <div class="main-content">
      <div [innerHTML]="htmlcodeservice"></div>
        <div [innerHTML]="htmlcodeproduct"></div>
        <div [innerHTML]="htmlcodesalepage"></div>
        <div [innerHTML]="htmlcodeabout"></div>
        <div [innerHTML]="htmlcodecontact"></div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<app-default></app-default>
<div class="content">
  <div [innerHTML]="htmlcodeproduct"></div>
  <div [innerHTML]="htmlcodesalepage"></div>
  <div [innerHTML]="htmlcodeabout"></div>
  <div [innerHTML]="htmlcodecontact"></div>
</div>
