.positronx {
  text-decoration: none;
  color: #edfdf9;
}
.getstart {
  border-radius: 15px;
  border-width: 2px;
}
.mat-toolbar {
  background: #fff;
  color: #9e9b9bd3;
  position: fixed;
  transition: none !important;
  box-shadow: none !important;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mat-card {
  width: 50%;
  height: 450px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #343350;
}
.mat-card-header {
  color: #343350;
}
.mat-form-field {
  width: 100%;
  color: #343350;
  border-color: #84a7a0;
}
.button {
  width: 100%;
  height: 45px;
  background: #5bb9a7;
}
