<mat-toolbar>
    <div>
      <a href="#" target="_blank" class="positronx navbar-brand">
        <img
          src="../../../assets/img/logo-small.png"
          width="auto"
          height="50"
          alt=""
        />
      </a>
    </div>
    <span class="nav-tool-items positronx">
      <a class="a" mat-button routerLink="/register" routerLinkActive="active"
        >REGISTER</a
      >
      <a
        class="btn btn-outline-success btn-sm getstart"
        routerLink="/login"
        routerLinkActive="active"
        >GET STARTED</a
      >
    </span>
  </mat-toolbar>
  